.container {
    border: 8px black solid;
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    box-sizing: content-box;
}


.square {
    background-color: white;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}


.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    margin-bottom: 50px;
}

#size {
    width: 2em;
    height: 2em;
    border-radius: 25px;
    text-align: center;
    font-size: 32px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

#size-button, #reset-button {
    width: 200px;
    font-size: 24px;
    border-radius: 25px;
    background-color: bisque;
    padding: 4px;
    font-weight: bold;
}

#label {

    font-size: 32px;
}