.body-window {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    padding: 75px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #3d1e2a, #000000);
    color: white;
    font-style: oblique;
}

.instruction-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-cards-wrapper {
    display: flex;
    margin: 20px;
}

.computer-card {
    display: flex;
    width: 200px;
    height: 300px;
    margin: 20px;
    perspective: 1000px;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-wrapper.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(42, 31%, 84%);
}

.card-back {
    transform: rotateY(180deg);
}


.rpc-icons {
    max-width: 100%;
    max-height: 100%;
}



.player-cards-wrapper {
    display: flex;
    margin: 20px;
    
}

.player-card {
    display: flex;
    width: 200px;
    height: 300px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.player-card-button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
    color: #800020;
    font-size: 16px;
    font-weight: bold;
    flex-direction: column;
    padding: 5px;
}

#game-title {
    color: #d4af37
}

.win-message {
    color: #28a745;
    font-weight: bold;
}

.lose-message {
    color: #dc3545;
    font-weight: bold;
}

.tie-message {
    color: #ffc107;
    font-weight: bold;
}

#reset-b {
    height: 50px;
    width: 150px;
    font-size: 28px;
    border-radius: 50px;
    border: none;
    background-color: #d4af37;
    color: white;
}

#reset-b:hover {
    background-color: #e6c87b;
}


.player-card-icon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in;
}

.player-card-icon:hover {
    transform: scale(1.1);
}

#paper-icon {
    margin-left: -20px;
}


button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
    background-color: #d4af37; 
    color: #ccc; 
    border: 5px solid #aaa; 
}